<section>

  <div class="example-button-row">
    <button type="button" class="btn btn-info btn-lg one" (click)="show_requests()">Requests</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-warning btn-lg two" (click)="show_items()">Items</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-success btn-lg three" (click)="show_machines()">Machines</button>
  </div>
</section>

<h1 class="{{filter_1}}">REQUESTS</h1>

<div class="cd-filter {{filter_1}} ">
  <form>
    <label class="radio-inline">
      <input type="radio" name="optradio" (click)="only_issued()">issued
    </label>
    &nbsp;
    <label class="radio-inline">
      <input type="radio" name="optradio" (click)="only_denied()">denied
    </label>&nbsp;
    <label class="radio-inline">
      <input type="radio" name="optradio" (click)="only_pending()" checked>pending
    </label>&nbsp;
    <label class="radio-inline">
      <input type="radio" name="optradio" (click)="only_returned()">returned
    </label>&nbsp;
    <label class="radio-inline">
      <input type="radio" name="optradio" (click)="all_1()">all
    </label>&nbsp;
  </form>

  <a href="#0" class="cd-close"></a>
</div> <!-- cd-filter -->
<div class="input-group col-3 {{filter_1}}">
  <input (keydown)="searchButton1($event)" type="text" class="form-control" placeholder="Search for Requests..." [(ngModel)]="roll_number" />
  <div class="input-group-append ">
    <button class="btn btn-primary" type="button" [disabled]="roll_number==''" (click)="searchTitle()">
      Search
    </button>
  </div>
</div>



<table id="dtBasicExample" class="table table-striped table-bordered table-sm  {{filter_1}}" cellspacing="0"
  width="100%">
  <thead>
    <tr>
      <th class="th-sm">Item name
      </th>
      <th class="th-sm">Quantity requested
      </th>
      <th class="th-sm">Roll number
      </th>
      <th class="th-sm">Total Quantiy
      </th>
      <th class="th-sm">Request Number
      </th>
      <th class="th-sm">ID required</th>

      <th class="th-sm">Status</th>

    </tr>
  </thead>
  <tbody>
    <tr class="{{filter_11}}" *ngFor="let request of requests">

      <td
        *ngIf="(request.is_issued==filter_issued) && (request.is_denied==filter_denied) && (request.is_sent==true) && ((request.is_returned==filter_returned) || (items[request.item-1].is_consumable==filter_consumable))">
        {{items[request.item-1].name}}</td>
      <td
        *ngIf="(request.is_issued==filter_issued) && (request.is_denied==filter_denied) && (request.is_sent==true) && ((request.is_returned==filter_returned) || (items[request.item-1].is_consumable==filter_consumable))">
        {{request.quantity}}</td>
      <td
        *ngIf="(request.is_issued==filter_issued) && (request.is_denied==filter_denied) && (request.is_sent==true) && ((request.is_returned==filter_returned) || (items[request.item-1].is_consumable==filter_consumable))">
        {{request.roll_number}}</td>
      <td
        *ngIf="(request.is_issued==filter_issued) && (request.is_denied==filter_denied) && (request.is_sent==true) && ((request.is_returned==filter_returned) || (items[request.item-1].is_consumable==filter_consumable))">
        {{items[request.item-1].quantity}}</td>
      <td
        *ngIf="(request.is_issued==filter_issued) && (request.is_denied==filter_denied) && (request.is_sent==true) && ((request.is_returned==filter_returned) || (items[request.item-1].is_consumable==filter_consumable))">
        {{request.id}}</td>
      <td
        *ngIf="(request.is_issued==filter_issued) && (request.is_denied==filter_denied) && (request.is_sent==true) && ((request.is_returned==filter_returned) || (items[request.item-1].is_consumable==filter_consumable))">
        {{items[request.item-1].id_required}}</td>
      <td
        *ngIf="(request.is_issued==filter_issued) && (request.is_denied==filter_denied) && (request.is_sent==true) &&(filter_issued==false) && (filter_denied==false)">
        <button (click)="issue_request(request)">issue</button><button (click)="deny_request(request)">deny</button>
      </td>
      <td
        *ngIf="(request.is_issued==filter_issued) && (request.is_denied==filter_denied) && (request.is_sent==true) &&(filter_issued==true) && (filter_denied==false) && ((request.is_returned==filter_returned) || (items[request.item-1].is_consumable==filter_consumable))">
        issued<button *ngIf="request.is_returned==false" (click)="return_request(request)">return</button>
        <!-- <button (click)="deny_request(request)">deny</button> -->
      </td>
      <td
        *ngIf="(request.is_issued==filter_issued) && (request.is_denied==filter_denied) && (request.is_sent==true) && (filter_issued==false) && (filter_denied==true)">
        denied
      </td>

    </tr>
    <tr class="{{filter_12}}" *ngFor="let request of requests">

      <td *ngIf=" (request.is_sent==true)">{{items[request.item-1].name}}</td>
      <td *ngIf=" (request.is_sent==true)">{{request.quantity}}</td>
      <td *ngIf=" (request.is_sent==true)">{{request.roll_number}}</td>
      <td *ngIf=" (request.is_sent==true)">{{items[request.item-1].quantity}}</td>
      <td *ngIf=" (request.is_sent==true)">{{request.id}}</td>
      <td *ngIf=" (request.is_sent==true)">{{items[request.item-1].id_required}}</td>
      <td *ngIf="(request.is_issued==false) && (request.is_sent==true) && (request.is_denied==false) ">pending<button
          (click)="issue_request(request)">issue</button><button (click)="deny_request(request)">deny</button></td>
      <td
        *ngIf="(request.is_issued==true) && (request.is_sent==true) && (request.is_denied==false) && ((request.is_returned==false) || (items[request.item-1].is_consumable==true)) ">
        issued &nbsp; <button *ngIf="request.is_returned==false" (click)="return_request(request)">return</button>&nbsp;
      </td>
      <td *ngIf="(request.is_issued==false) && (request.is_sent==true) && (request.is_denied==true) ">denied</td>
      <td *ngIf="(request.is_returned==true) && (request.is_sent==true) && items[request.item-1].is_consumable==false">
        returned</td>
    </tr>

    <tr class="{{filter_13}}" *ngFor="let request of requests">

      <td *ngIf="(request.is_returned==true) && (request.is_sent==true) && items[request.item-1].is_consumable==false">
        {{items[request.item-1].name}}</td>
      <td *ngIf="(request.is_returned==true) && (request.is_sent==true) && items[request.item-1].is_consumable==false">
        {{request.quantity}}</td>
      <td *ngIf="(request.is_returned==true) && (request.is_sent==true) && items[request.item-1].is_consumable==false">
        {{request.roll_number}}</td>
      <td *ngIf="(request.is_returned==true) && (request.is_sent==true) && items[request.item-1].is_consumable==false">
        {{items[request.item-1].quantity}}</td>
      <td *ngIf="(request.is_returned==true) && (request.is_sent==true) && items[request.item-1].is_consumable==false">
        {{request.id}}</td>
      <td *ngIf="(request.is_returned==true) && (request.is_sent==true) && items[request.item-1].is_consumable==false">
        {{items[request.item-1].id_required}}</td>
      <td *ngIf="(request.is_returned==true) && (request.is_sent==true) && items[request.item-1].is_consumable==false">
        returned</td>
    </tr>
  </tbody>

</table>

<h1 class="{{filter_2}}">ITEMS</h1>
<div class="input-group col-3 {{filter_2}}">
  <input type="text" (keydown)="searchButton1($event)" class="form-control" placeholder="Search for Items..." [(ngModel)]="item_query" />
  <div class="input-group-append ">
    <button class="btn btn-primary" type="button" [disabled]="item_query==''" (click)="searchItem()">
      Search
    </button>
  </div>
</div>


<table id="dtBasicExample" class="table table-striped table-bordered table-sm  {{filter_2}}" cellspacing="0"
  width="100%">
  <thead>
    <tr>
      <th class="th-sm">Item Name
      </th>

      <th class="th-sm">Price
      </th>
      <th class="th-sm">Quantity
      </th>
      <th class="th-sm">Colour code
      </th>
      <th class="th-sm">ID required</th>
      <th class="th-sm">SAVE
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="" *ngFor="let item of displayItems">

      <td>{{item.name}}</td>

      <td>
        ₹{{item.price}}
      </td>
      <td> <button [disabled]="item.quantity<=1" (click)="decrementQuantity(item)">-</button><input type="text"
          [(ngModel)]="item.quantity"><button (click)="incrementQuantity(item)">+</button></td>
      <td *ngIf="item.is_consumable==true" [style.backgroundColor]='item.colour_code'>{{item.colour_code}}</td>
      <td *ngIf="item.is_consumable==false">Not Consumable</td>
      <td>{{item.id_required}}</td>
      <td><button (click)="save(item)">Save</button></td>
    </tr>
  </tbody>

</table>

<h1 class="{{filter_3}}">MACHINES</h1>

<div class="cd-filter {{filter_3}} ">
  <form>
    <label class="radio-inline">
      <input type="radio" name="optradio" (click)="only_working()">working
    </label>
    &nbsp;
    <label class="radio-inline">
      <input type="radio" name="optradio" (click)="only_defective()">defective
    </label>&nbsp;
    <label class="radio-inline">
      <input type="radio" name="optradio" (click)="all_3()">all
    </label>&nbsp;
  </form>

  <a href="#0" class="cd-close"></a>
</div> <!-- cd-filter -->
<div class="input-group col-3 {{filter_3}}">
  <input type="text" (keydown)="searchButton3($event)" class="form-control" placeholder="Search for Machines..." [(ngModel)]="machine_query" />
  <div class="input-group-append ">
    <button class="btn btn-primary"  [disabled]="machine_query==''" type="button" (click)="searchMachine()">
      Search
    </button>
  </div>
</div>



<table id="dtBasicExample" class="table table-striped table-bordered table-sm  {{filter_3}}" cellspacing="0"
  width="100%">
  <thead>
    <tr>
      <th class="th-sm">Machine name
      </th>
      <th class="th-sm">Type
      </th>
      <th class="th-sm">Status
      </th>
      <th class="th-sm">Action
      </th>
      

    </tr>
  </thead>
  <tbody>
    <tr class="{{filter_31}}" *ngFor="let machine of machines">
      <td *ngIf="(machine.status==false)">{{machine.name}}</td>
      <td *ngIf="(machine.status==false)">{{machine.type}}</td>
      <td *ngIf="(machine.status==false)" style="color: rgb(231, 57, 14);">Not working</td>
      <td *ngIf="(machine.status==false)"><button (click)="change_status(machine)">Mark as working</button></td>
    </tr>
    
    <tr class="{{filter_32}}" *ngFor="let machine of machines">
      <td *ngIf="(machine.status==true)">{{machine.name}}</td>
      <td *ngIf="(machine.status==true)">{{machine.type}}</td>
      <td *ngIf="(machine.status==true)" style="color:rgb(20, 194, 20);">Working</td>
      <td *ngIf="(machine.status==true)"><button (click)="change_status(machine)">Mark as not working</button></td>
    </tr>
  </tbody>

</table>