a {
    text-decoration: none;
}

a:hover {
    
    opacity: 0.5;
    cursor: pointer;
    text-decoration: none;
}

#addedToCart {
    display: none;
}

#specifyQuantity {
    display: none;
}

.overlay {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 200;
    backdrop-filter: blur(5px);
}

.expanded {

    background-color: darksalmon;
    color: white;
    position: absolute;
    top: 20%;
    width: 50%;
    left: 25%;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.expanded img {
    width:150px;
}


@media screen and (max-width:992px) {
    .expanded {
        width: 100%;
        left: 0;
    }
    th{
        font-size: 0.5rem;
        margin: 0;
    }
    td {
        margin: 0;
        padding: 2vw;
        font-size: 0.5rem;
    }
    

    .table {
        

        padding: 0;
        margin: 0;
       width: 80%; 
    }


}

