<!-- Loader -->
<div id="super-overlay" class="super-overlay">
  <div id="mailSpinner">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>


<!-- Search Bar -->
<div class="input-group text-center container col-md-4 mt-4">
  <input (keydown)="searchButton($event)" type="text" class="form-control " placeholder="Search for items"
    [(ngModel)]="item_query" />
  <div class="input-group-append ">
    <button class="btn btn-primary" type="button" [disabled]="item_query==''" (click)="searchItem()">
      Search
    </button>
  </div>
</div>

<div *ngIf="searched">
  <button class="btn btn-secondary" type="button" (click)="hideSearch()">
    Back
  </button>
  <br>

  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped ">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Id Required To Issue</th>

            <th>Add to cart</th>
            <th>Damaged items</th>
            <th>Flag item</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of displayItems">
            <td class="itemName" (click)="nameClicked(item.id,$event)">
              <a class="btn" [style.backgroundColor]='item.colour_code'>{{item.name}}</a>
              <div (click)="overlayClicked(item)" id={{addD(item.id)}} class="overlay">
                <div class="expanded">
                  <img src={{item.picture}} alt="Couldn't load">
                  <p></p>
                  <h2>{{item.name}}</h2>
                  <br>
                  <div>
                    <h4>{{item.description}}</h4>
                  </div>
                </div>
              </div>
            </td>
            <td><span>{{convertBool(item)}}</span></td>

            <td id={{item.id}}>
              <a (click)="cartClicked(item.id,$event)" class="fas fa-shopping-cart" id={{addA(item.id)}}></a>
              <div class="specifyQuantity" id={{addB(item.id)}}><span>Quantity <br></span>
                <button class="btn btn-warning pl-4 pr-4 m-1" [disabled]="newRequest.quantity<=1"
                  (click)="decrementQuantity()">-</button>
                <input class="btn btn-secondary mr-1 ml-1" type="text" [(ngModel)]="newRequest.quantity">
                <button class="btn btn-warning pl-4 pr-4 m-1" (click)="incrementQuantity()">+</button>
                <br>
                <button class="btn btn-success ml-5" title="Add to Cart"
                  (click)="CreateRequest(item,$event)">Add</button>
              </div>
              <div class="addedToCart" id={{addC(item.id)}}>Added To Cart&nbsp;<a routerLink="../cart"
                  title="Go to Cart"><i class="fas fa-shopping-cart"></i></a></div>
            </td>
            <td><a (click)="reportItem(item)">Report Damage</a></td>
            <td *ngIf="!(item.is_flagged)"><a (click)="flagItem(item)"><i class="far fa-flag"></i></a>
            <td *ngIf="(item.is_flagged)"><i style="color: darkgray;" class="far fa-flag"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>







<div *ngIf="!searched">
  <h1>ELECTRONICS</h1>
  <ul>
    <li>
      <h3><a (click)="display_table(0)">Sensors</a></h3>
      <div class="container {{displayArray[0]}}">
        <div class="table-responsive">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Id Required To Issue</th>

                <th>Add to cart</th>
                <th>Damaged items</th>
                <th>Flag item</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <td class="itemName" (click)="nameClicked(item.id,$event)" *ngIf="item.category==selected_category">
                  <a class="btn" [style.backgroundColor]='item.colour_code'>{{item.name}}</a>
                  <div (click)="overlayClicked(item)" id={{addD(item.id)}} class="overlay">
                    <div class="expanded">
                      <img src={{item.picture}} alt="Couldn't load">
                      <p></p>
                      <h2>{{item.name}}</h2>
                      <br>
                      <div>
                        <h4>{{item.description}}</h4>
                      </div>
                    </div>
                  </div>
                </td>
                <td *ngIf="item.category==selected_category"><span>{{convertBool(item)}}</span></td>

                <td id={{item.id}} *ngIf="item.category==selected_category">
                  <a (click)="cartClicked(item.id,$event)" class="fas fa-shopping-cart" id={{addA(item.id)}}></a>
                  <div class="specifyQuantity" id={{addB(item.id)}}><span>Quantity <br></span>
                    <button class="btn btn-warning pl-4 pr-4 m-1" [disabled]="newRequest.quantity<=1"
                      (click)="decrementQuantity()">-</button>
                    <input class="btn btn-secondary mr-1 ml-1" type="text" [(ngModel)]="newRequest.quantity">
                    <button class="btn btn-warning pl-4 pr-4 m-1" (click)="incrementQuantity()">+</button>
                    <br>
                    <button class="btn btn-success ml-5" title="Add to Cart"
                      (click)="CreateRequest(item,$event)">Add</button>
                  </div>
                  <div class="addedToCart" id={{addC(item.id)}}>Added To Cart&nbsp;<a routerLink="../cart"
                      title="Go to Cart"><i class="fas fa-shopping-cart"></i></a></div>
                </td>
                <td *ngIf="item.category==selected_category"><a (click)="reportItem(item)">Report Damage</a></td>
                <td *ngIf="item.category==selected_category && !(item.is_flagged)"><a (click)="flagItem(item)"><i
                      class="far fa-flag"></i></a>
                <td *ngIf="item.category==selected_category && (item.is_flagged)"><i style="color: darkgray;"
                    class="far fa-flag"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </li>

    <li>
      <h3><a (click)="display_table(1)">PCB Boards</a></h3>
      <div class="container {{displayArray[1]}}">
        <div class="table-responsive">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Id Required To Issue</th>

                <th>Add to cart</th>
                <th>Damaged items</th>
                <th>Flag item</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <td class="itemName" (click)="nameClicked(item.id,$event)" *ngIf="item.category==selected_category">
                  <a class="btn" [style.backgroundColor]='item.colour_code'>{{item.name}}</a>
                  <div (click)="overlayClicked(item)" id={{addD(item.id)}} class="overlay">
                    <div class="expanded">
                      <img src={{item.picture}} alt="Couldn't load">
                      <p></p>
                      <h2>{{item.name}}</h2>
                      <br>
                      <div>
                        <h4>{{item.description}}</h4>
                      </div>
                    </div>
                  </div>
                </td>
                <td *ngIf="item.category==selected_category"><span>{{convertBool(item)}}</span></td>

                <td id={{item.id}} *ngIf="item.category==selected_category">
                  <a (click)="cartClicked(item.id,$event)" class="fas fa-shopping-cart" id={{addA(item.id)}}></a>
                  <div class="specifyQuantity" id={{addB(item.id)}}><span>Quantity <br></span>
                    <button class="btn btn-warning pl-4 pr-4 m-1" [disabled]="newRequest.quantity<=1"
                      (click)="decrementQuantity()">-</button>
                    <input class="btn btn-secondary mr-1 ml-1" type="text" [(ngModel)]="newRequest.quantity">
                    <button class="btn btn-warning pl-4 pr-4 m-1" (click)="incrementQuantity()">+</button>
                    <br>
                    <button class="btn btn-success ml-5" title="Add to Cart"
                      (click)="CreateRequest(item,$event)">Add</button>
                  </div>
                  <div class="addedToCart" id={{addC(item.id)}}>Added To Cart&nbsp;<a routerLink="../cart"
                      title="Go to Cart"><i class="fas fa-shopping-cart"></i></a></div>
                </td>
                <td *ngIf="item.category==selected_category"><a (click)="reportItem(item)">Report Damage</a></td>
                <td *ngIf="item.category==selected_category"><a (click)="flagItem(item)"><i class="far fa-flag"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </li>
    <li>
      <h3>Consumables</h3>
      <ul>
        <li>
          <h6><a class="text-info" (click)="display_table(3)">Capacitors</a></h6>
          <div class="container {{displayArray[3]}}">
            <div class="table-responsive">
              <table class="table table-striped ">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Id Required To Issue</th>

                    <th>Add to cart</th>
                    <th>Damaged items</th>
                    <th>Flag item</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td class="itemName" (click)="nameClicked(item.id,$event)" *ngIf="item.category==selected_category">
                      <a class="btn" [style.backgroundColor]='item.colour_code'>{{item.name}}</a>
                      <div (click)="overlayClicked(item)" id={{addD(item.id)}} class="overlay">
                        <div class="expanded">
                          <img src={{item.picture}} alt="Couldn't load">
                          <p></p>
                          <h2>{{item.name}}</h2>
                          <br>
                          <div>
                            <h4>{{item.description}}</h4>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="item.category==selected_category"><span>{{convertBool(item)}}</span></td>

                    <td id={{item.id}} *ngIf="item.category==selected_category">
                      <a (click)="cartClicked(item.id,$event)" class="fas fa-shopping-cart" id={{addA(item.id)}}></a>
                      <div class="specifyQuantity" id={{addB(item.id)}}><span>Quantity <br></span>
                        <button class="btn btn-warning pl-4 pr-4 m-1" [disabled]="newRequest.quantity<=1"
                          (click)="decrementQuantity()">-</button>
                        <input class="btn btn-secondary mr-1 ml-1" type="text" [(ngModel)]="newRequest.quantity">
                        <button class="btn btn-warning pl-4 pr-4 m-1" (click)="incrementQuantity()">+</button>
                        <br>
                        <button class="btn btn-success ml-5" title="Add to Cart"
                          (click)="CreateRequest(item,$event)">Add</button>
                      </div>
                      <div class="addedToCart" id={{addC(item.id)}}>Added To Cart&nbsp;<a routerLink="../cart"
                          title="Go to Cart"><i class="fas fa-shopping-cart"></i></a></div>
                    </td>
                    <td *ngIf="item.category==selected_category"><a (click)="reportItem(item)">Report Damage</a></td>
                    <td *ngIf="item.category==selected_category && !(item.is_flagged)"><a (click)="flagItem(item)"><i
                          class="far fa-flag"></i></a>
                    <td *ngIf="item.category==selected_category && (item.is_flagged)"><i style="color: darkgray;"
                        class="far fa-flag"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>
        <li>
          <h6><a class="text-info" (click)="display_table(2)">Resistors</a></h6>
          <div class="container {{displayArray[2]}}">
            <div class="table-responsive">
              <table class="table table-striped ">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Id Required To Issue</th>

                    <th>Add to cart</th>
                    <th>Damaged items</th>
                    <th>Flag item</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td class="itemName" (click)="nameClicked(item.id,$event)" *ngIf="item.category==selected_category">
                      <a class="btn" [style.backgroundColor]='item.colour_code'>{{item.name}}</a>
                      <div (click)="overlayClicked(item)" id={{addD(item.id)}} class="overlay">
                        <div class="expanded">
                          <img src={{item.picture}} alt="Couldn't load">
                          <p></p>
                          <h2>{{item.name}}</h2>
                          <br>
                          <div>
                            <h4>{{item.description}}</h4>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="item.category==selected_category"><span>{{convertBool(item)}}</span></td>

                    <td id={{item.id}} *ngIf="item.category==selected_category">
                      <a (click)="cartClicked(item.id,$event)" class="fas fa-shopping-cart" id={{addA(item.id)}}></a>
                      <div class="specifyQuantity" id={{addB(item.id)}}><span>Quantity <br></span>
                        <button class="btn btn-warning pl-4 pr-4 m-1" [disabled]="newRequest.quantity<=1"
                          (click)="decrementQuantity()">-</button>
                        <input class="btn btn-secondary mr-1 ml-1" type="text" [(ngModel)]="newRequest.quantity">
                        <button class="btn btn-warning pl-4 pr-4 m-1" (click)="incrementQuantity()">+</button>
                        <br>
                        <button class="btn btn-success ml-5" title="Add to Cart"
                          (click)="CreateRequest(item,$event)">Add</button>
                      </div>
                      <div class="addedToCart" id={{addC(item.id)}}>Added To Cart&nbsp;<a routerLink="../cart"
                          title="Go to Cart"><i class="fas fa-shopping-cart"></i></a></div>
                    </td>
                    <td *ngIf="item.category==selected_category"><a (click)="reportItem(item)">Report Damage</a></td>
                    <td *ngIf="item.category==selected_category && !(item.is_flagged)"><a (click)="flagItem(item)"><i
                          class="far fa-flag"></i></a>
                    <td *ngIf="item.category==selected_category && (item.is_flagged)"><i style="color: darkgray;"
                        class="far fa-flag"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>
        <li>
          <h6><a class="text-info" (click)="display_table(4)">Jumpers</a></h6>
          <div class="container {{displayArray[4]}}">
            <div class="table-responsive">
              <table class="table table-striped ">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Id Required To Issue</th>

                    <th>Add to cart</th>
                    <th>Damaged items</th>
                    <th>Flag item</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td class="itemName" (click)="nameClicked(item.id,$event)" *ngIf="item.category==selected_category">
                      <a class="btn" [style.backgroundColor]='item.colour_code'>{{item.name}}</a>
                      <div (click)="overlayClicked(item)" id={{addD(item.id)}} class="overlay">
                        <div class="expanded">
                          <img src={{item.picture}} alt="Couldn't load">
                          <p></p>
                          <h2>{{item.name}}</h2>
                          <br>
                          <div>
                            <h4>{{item.description}}</h4>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="item.category==selected_category"><span>{{convertBool(item)}}</span></td>

                    <td id={{item.id}} *ngIf="item.category==selected_category">
                      <a (click)="cartClicked(item.id,$event)" class="fas fa-shopping-cart" id={{addA(item.id)}}></a>
                      <div class="specifyQuantity" id={{addB(item.id)}}><span>Quantity <br></span>
                        <button class="btn btn-warning pl-4 pr-4 m-1" [disabled]="newRequest.quantity<=1"
                          (click)="decrementQuantity()">-</button>
                        <input class="btn btn-secondary mr-1 ml-1" type="text" [(ngModel)]="newRequest.quantity">
                        <button class="btn btn-warning pl-4 pr-4 m-1" (click)="incrementQuantity()">+</button>
                        <br>
                        <button class="btn btn-success ml-5" title="Add to Cart"
                          (click)="CreateRequest(item,$event)">Add</button>
                      </div>
                      <div class="addedToCart" id={{addC(item.id)}}>Added To Cart&nbsp;<a routerLink="../cart"
                          title="Go to Cart"><i class="fas fa-shopping-cart"></i></a></div>
                    </td>
                    <td *ngIf="item.category==selected_category"><a (click)="reportItem(item)">Report Damage</a></td>
                    <td *ngIf="item.category==selected_category && !(item.is_flagged)"><a (click)="flagItem(item)"><i
                          class="far fa-flag"></i></a>
                    <td *ngIf="item.category==selected_category && (item.is_flagged)"><i style="color: darkgray;"
                        class="far fa-flag"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>
        <li>
          <h6><a class="text-info" (click)="display_table(5)">LEDs</a></h6>
          <div class="container {{displayArray[5]}}">
            <div class="table-responsive">
              <table class="table table-striped ">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Id Required To Issue</th>

                    <th>Add to cart</th>
                    <th>Damaged items</th>
                    <th>Flag item</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td class="itemName" (click)="nameClicked(item.id,$event)" *ngIf="item.category==selected_category">
                      <a class="btn" [style.backgroundColor]='item.colour_code'>{{item.name}}</a>
                      <div (click)="overlayClicked(item)" id={{addD(item.id)}} class="overlay">
                        <div class="expanded">
                          <img src={{item.picture}} alt="Couldn't load">
                          <p></p>
                          <h2>{{item.name}}</h2>
                          <br>
                          <div>
                            <h4>{{item.description}}</h4>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="item.category==selected_category"><span>{{convertBool(item)}}</span></td>

                    <td id={{item.id}} *ngIf="item.category==selected_category">
                      <a (click)="cartClicked(item.id,$event)" class="fas fa-shopping-cart" id={{addA(item.id)}}></a>
                      <div class="specifyQuantity" id={{addB(item.id)}}><span>Quantity <br></span>
                        <button class="btn btn-warning pl-4 pr-4 m-1" [disabled]="newRequest.quantity<=1"
                          (click)="decrementQuantity()">-</button>
                        <input class="btn btn-secondary mr-1 ml-1" type="text" [(ngModel)]="newRequest.quantity">
                        <button class="btn btn-warning pl-4 pr-4 m-1" (click)="incrementQuantity()">+</button>
                        <br>
                        <button class="btn btn-success ml-5" title="Add to Cart"
                          (click)="CreateRequest(item,$event)">Add</button>
                      </div>
                      <div class="addedToCart" id={{addC(item.id)}}>Added To Cart&nbsp;<a routerLink="../cart"
                          title="Go to Cart"><i class="fas fa-shopping-cart"></i></a></div>
                    </td>
                    <td *ngIf="item.category==selected_category"><a (click)="reportItem(item)">Report Damage</a></td>
                    <td *ngIf="item.category==selected_category && !(item.is_flagged)"><a (click)="flagItem(item)"><i
                          class="far fa-flag"></i></a>
                    <td *ngIf="item.category==selected_category && (item.is_flagged)"><i style="color: darkgray;"
                        class="far fa-flag"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>




  <h1>MECHANICAL</h1>
  <ul>
    <li>
      <h3><a (click)="display_table(6)">Power Tools </a></h3>
      <div class="container {{displayArray[6]}}">
        <div class="table-responsive">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Id Required To Issue</th>

                <th>Add to cart</th>
                <th>Damaged items</th>
                <th>Flag item</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <td class="itemName" (click)="nameClicked(item.id,$event)" *ngIf="item.category==selected_category">
                  <a class="btn" [style.backgroundColor]='item.colour_code'>{{item.name}}</a>
                  <div (click)="overlayClicked(item)" id={{addD(item.id)}} class="overlay">
                    <div class="expanded">
                      <img src={{item.picture}} alt="Couldn't load">
                      <p></p>
                      <h2>{{item.name}}</h2>
                      <br>
                      <div>
                        <h4>{{item.description}}</h4>
                      </div>
                    </div>
                  </div>
                </td>
                <td *ngIf="item.category==selected_category"><span>{{convertBool(item)}}</span></td>

                <td id={{item.id}} *ngIf="item.category==selected_category">
                  <a (click)="cartClicked(item.id,$event)" class="fas fa-shopping-cart" id={{addA(item.id)}}></a>
                  <div class="specifyQuantity" id={{addB(item.id)}}><span>Quantity <br></span>
                    <button class="btn btn-warning pl-4 pr-4 m-1" [disabled]="newRequest.quantity<=1"
                      (click)="decrementQuantity()">-</button>
                    <input class="btn btn-secondary mr-1 ml-1" type="text" [(ngModel)]="newRequest.quantity">
                    <button class="btn btn-warning pl-4 pr-4 m-1" (click)="incrementQuantity()">+</button>
                    <br>
                    <button class="btn btn-success ml-5" title="Add to Cart"
                      (click)="CreateRequest(item,$event)">Add</button>
                  </div>
                  <div class="addedToCart" id={{addC(item.id)}}>Added To Cart&nbsp;<a routerLink="../cart"
                      title="Go to Cart"><i class="fas fa-shopping-cart"></i></a></div>
                </td>
                <td *ngIf="item.category==selected_category"><a (click)="reportItem(item)">Report Damage</a></td>
                <td *ngIf="item.category==selected_category"><a (click)="flagItem(item)"><i class="far fa-flag"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </li>

    <li>
      <h3>Consumables</h3>
      <ul>
        <li>
          <h6><a class="text-info" (click)="display_table(7)">Screws</a></h6>
          <div class="container {{displayArray[7]}}">
            <div class="table-responsive">
              <table class="table table-striped ">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Id Required To Issue</th>

                    <th>Add to cart</th>
                    <th>Damaged items</th>
                    <th>Flag item</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td class="itemName" (click)="nameClicked(item.id,$event)" *ngIf="item.category==selected_category">
                      <a class="btn" [style.backgroundColor]='item.colour_code'>{{item.name}}</a>
                      <div (click)="overlayClicked(item)" id={{addD(item.id)}} class="overlay">
                        <div class="expanded">
                          <img src={{item.picture}} alt="Couldn't load">
                          <p></p>
                          <h2>{{item.name}}</h2>
                          <br>
                          <div>
                            <h4>{{item.description}}</h4>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="item.category==selected_category"><span>{{convertBool(item)}}</span></td>

                    <td id={{item.id}} *ngIf="item.category==selected_category">
                      <a (click)="cartClicked(item.id,$event)" class="fas fa-shopping-cart" id={{addA(item.id)}}></a>
                      <div class="specifyQuantity" id={{addB(item.id)}}><span>Quantity <br></span>
                        <button class="btn btn-warning pl-4 pr-4 m-1" [disabled]="newRequest.quantity<=1"
                          (click)="decrementQuantity()">-</button>
                        <input class="btn btn-secondary mr-1 ml-1" type="text" [(ngModel)]="newRequest.quantity">
                        <button class="btn btn-warning pl-4 pr-4 m-1" (click)="incrementQuantity()">+</button>
                        <br>
                        <button class="btn btn-success ml-5" title="Add to Cart"
                          (click)="CreateRequest(item,$event)">Add</button>
                      </div>
                      <div class="addedToCart" id={{addC(item.id)}}>Added To Cart&nbsp;<a routerLink="../cart"
                          title="Go to Cart"><i class="fas fa-shopping-cart"></i></a></div>
                    </td>
                    <td *ngIf="item.category==selected_category"><a (click)="reportItem(item)">Report Damage</a></td>
                    <td *ngIf="item.category==selected_category && !(item.is_flagged)"><a (click)="flagItem(item)"><i
                          class="far fa-flag"></i></a>
                    <td *ngIf="item.category==selected_category && (item.is_flagged)"><i style="color: darkgray;"
                        class="far fa-flag"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>
        <li>
          <h6><a class="text-info" (click)="display_table(8)">Nuts</a></h6>
          <div class="container {{displayArray[8]}}">
            <div class="table-responsive">
              <table class="table table-striped ">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Id Required To Issue</th>

                    <th>Add to cart</th>
                    <th>Damaged items</th>
                    <th>Flag item</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td class="itemName" (click)="nameClicked(item.id,$event)" *ngIf="item.category==selected_category">
                      <a class="btn" [style.backgroundColor]='item.colour_code'>{{item.name}}</a>
                      <div (click)="overlayClicked(item)" id={{addD(item.id)}} class="overlay">
                        <div class="expanded">
                          <img src={{item.picture}} alt="Couldn't load">
                          <p></p>
                          <h2>{{item.name}}</h2>
                          <br>
                          <div>
                            <h4>{{item.description}}</h4>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="item.category==selected_category"><span>{{convertBool(item)}}</span></td>

                    <td id={{item.id}} *ngIf="item.category==selected_category">
                      <a (click)="cartClicked(item.id,$event)" class="fas fa-shopping-cart" id={{addA(item.id)}}></a>
                      <div class="specifyQuantity" id={{addB(item.id)}}><span>Quantity <br></span>
                        <button class="btn btn-warning pl-4 pr-4 m-1" [disabled]="newRequest.quantity<=1"
                          (click)="decrementQuantity()">-</button>
                        <input class="btn btn-secondary mr-1 ml-1" type="text" [(ngModel)]="newRequest.quantity">
                        <button class="btn btn-warning pl-4 pr-4 m-1" (click)="incrementQuantity()">+</button>
                        <br>
                        <button class="btn btn-success ml-5" title="Add to Cart"
                          (click)="CreateRequest(item,$event)">Add</button>
                      </div>
                      <div class="addedToCart" id={{addC(item.id)}}>Added To Cart&nbsp;<a routerLink="../cart"
                          title="Go to Cart"><i class="fas fa-shopping-cart"></i></a></div>
                    </td>
                    <td *ngIf="item.category==selected_category"><a (click)="reportItem(item)">Report Damage</a></td>
                    <td *ngIf="item.category==selected_category && !(item.is_flagged)"><a (click)="flagItem(item)"><i
                          class="far fa-flag"></i></a>
                    <td *ngIf="item.category==selected_category && (item.is_flagged)"><i style="color: darkgray;"
                        class="far fa-flag"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>
        <li>
          <h6><a class="text-info" (click)="display_table(9)">Bolts</a></h6>
          <div class="container {{displayArray[9]}}">
            <div class="table-responsive">
              <table class="table table-striped ">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Id Required To Issue</th>

                    <th>Add to cart</th>
                    <th>Damaged items</th>
                    <th>Flag item</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td class="itemName" (click)="nameClicked(item.id,$event)" *ngIf="item.category==selected_category">
                      <a class="btn" [style.backgroundColor]='item.colour_code'>{{item.name}}</a>
                      <div (click)="overlayClicked(item)" id={{addD(item.id)}} class="overlay">
                        <div class="expanded">
                          <img src={{item.picture}} alt="Couldn't load">
                          <p></p>
                          <h2>{{item.name}}</h2>
                          <br>
                          <div>
                            <h4>{{item.description}}</h4>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="item.category==selected_category"><span>{{convertBool(item)}}</span></td>

                    <td id={{item.id}} *ngIf="item.category==selected_category">
                      <a (click)="cartClicked(item.id,$event)" class="fas fa-shopping-cart" id={{addA(item.id)}}></a>
                      <div class="specifyQuantity" id={{addB(item.id)}}><span>Quantity <br></span>
                        <button class="btn btn-warning pl-4 pr-4 m-1" [disabled]="newRequest.quantity<=1"
                          (click)="decrementQuantity()">-</button>
                        <input class="btn btn-secondary mr-1 ml-1" type="text" [(ngModel)]="newRequest.quantity">
                        <button class="btn btn-warning pl-4 pr-4 m-1" (click)="incrementQuantity()">+</button>
                        <br>
                        <button class="btn btn-success ml-5" title="Add to Cart"
                          (click)="CreateRequest(item,$event)">Add</button>
                      </div>
                      <div class="addedToCart" id={{addC(item.id)}}>Added To Cart&nbsp;<a routerLink="../cart"
                          title="Go to Cart"><i class="fas fa-shopping-cart"></i></a></div>
                    </td>
                    <td *ngIf="item.category==selected_category"><a (click)="reportItem(item)">Report Damage</a></td>
                    <td *ngIf="item.category==selected_category && !(item.is_flagged)"><a (click)="flagItem(item)"><i
                          class="far fa-flag"></i></a>
                    <td *ngIf="item.category==selected_category && (item.is_flagged)"><i style="color: darkgray;"
                        class="far fa-flag"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <!-- <h1 (click)="display_table(10)">MACHINES</h1>
  <div class="container {{displayArray[10]}}">
    <div class="table-responsive">
      <table class="table table-striped ">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Id Required To Issue</th>

            <th>Add to cart</th>
            <th>Damaged items</th>
            <th>Flag item</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td class="itemName" (click)="nameClicked(item.id,$event)" *ngIf="item.category==selected_category">
              <a class="btn" [style.backgroundColor]='item.colour_code'>{{item.name}}</a>
              <div (click)="overlayClicked(item)" id={{addD(item.id)}} class="overlay">
                <div class="expanded">
                  <img src={{item.picture}} alt="Couldn't load">
                  <p></p>
                  <h2>{{item.name}}</h2>
                  <br>
                  <div>
                    <h4>{{item.description}}</h4>
                  </div>
                </div>
              </div>
            </td>
            <td *ngIf="item.category==selected_category"><span>{{convertBool(item)}}</span></td>

            <td id={{item.id}} *ngIf="item.category==selected_category">
              <a (click)="cartClicked(item.id,$event)" class="fas fa-shopping-cart" id={{addA(item.id)}}></a>
              <div class="specifyQuantity" id={{addB(item.id)}}><span>Quantity <br></span>
                <button class="btn btn-warning pl-4 pr-4 m-1" [disabled]="newRequest.quantity<=1"
                  (click)="decrementQuantity()">-</button>
                <input class="btn btn-secondary mr-1 ml-1" type="text" [(ngModel)]="newRequest.quantity">
                <button class="btn btn-warning pl-4 pr-4 m-1" (click)="incrementQuantity()">+</button>
                <br>
                <button class="btn btn-success ml-5" title="Add to Cart"
                  (click)="CreateRequest(item,$event)">Add</button>
              </div>
              <div class="addedToCart" id={{addC(item.id)}}>Added To Cart&nbsp;<a routerLink="../cart"
                  title="Go to Cart"><i class="fas fa-shopping-cart"></i></a></div>
            </td>
            <td *ngIf="item.category==selected_category"><a (click)="reportItem(item)">Report Damage</a></td>
            <td *ngIf="item.category==selected_category"><a (click)="flagItem(item)"><i class="far fa-flag"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
-->