<div  class="row">
    <div class="col-lg-12">
      <div class="box-element">
  
        <a  class="btn btn-outline-dark" routerLink="../inventory">&#x2190; Back to inventory</a>
  
        <br>
        <br>
      </div>
  
      <br>
      <div  class="box-element">
        <div class="cart-row">
          <div style="flex:2"></div>
          <div style="flex:2"><strong>Item</strong></div>
        
          <div style="flex:2"><strong>Quantity</strong></div>
          <div style="flex:2"><strong>Status</strong></div>
          <div style="flex:1"><strong>Action</strong></div>
        </div>
       <div *ngFor="let request of requests">
        <div class="cart-row">
          <div   style="flex:2"><img class="row-image" src="#"></div>
          <div   style="flex:2"><p>{{items[request.item-1].name}}</p></div>
          <div style="flex:2">
            <p class="quantity">{{request.quantity}}</p>
          </div>
          <div style="flex:2">
            <p class="quantity" *ngIf=" (request.is_returned)  " style="color: green;">Returned</p>
            <p class="quantity" *ngIf=" (request.is_issued) && !(request.is_returned)  " style="color: orange">Issued</p>
            <p class="quantity" *ngIf=" (request.is_denied)  " style="color: red">Denied</p>
            <p class="quantity" *ngIf=" !(request.is_approved) && !(request.is_denied)  " style="color: yellow">Pending</p>
          </div>
          <div style="flex:1" >
            <button *ngIf=" !(request.is_approved) && !(request.is_denied) && !(items[request.item-1].is_flagged)  " (click)="flagItem(request)">Flag Item</button>
          </div>
          </div>
       </div>
      </div>
    </div>
  </div>
  
  
  
  