<p>app works!Angular components, Footer-Tanmay(Add Google Maps link to address)
    Testimonials,Events-Aditya
    Beginning of page(including Navbar), Django setup-Adit
    Our Projects, about us(use https://team.moodi.org/ (Know your CG) for inspiration) -Akshat
    Ask them for pictures of automated machines
    Testimonials
    Description of electrical section
    Photos for about us section
    Which posts in events section
    Database fields for inventory?
    
    
    
    
    
    Changes in Website :
    Home page
    Remarks:
    ·       First page: Remove 'Get Started', replace with Login button ,
    ·       Change the picture settings in the slideshow,  Animated background if possible
    ·       Increase the font size of 'Resources'
    ·       Change the picture of the automated machines
    ·       Content of the automated machines should be also of the same length
    ·       When we click on the machine, it opens in a square box or so, and the background gets blurred then
    ·       Change the description for the electrical section.
    ·       Add details to Read more part, Add more projects to project section and their description- Technovation, DIY, Startups, Sustainability Projects, Zero waste projects, ITSP++
    ·       Fun Facts- Numbers are increasing slowly
    ·       Testimonials- Add more and changes in the existing, Alignment of arrows for swapping is not looking good
    ·       In Contacts: Add Instagram also, Remove “Navigational”, Remove “This website is made by…”. Have suggestions here also open . 
     
    Second Tab: About us
    ·       Change the photo for ‘Why Tinker’, ‘Our Vision’, ‘Our mission’ and it should be of the same size.
    ·       In the team section, “Team” and “Our team” both are written, remove “team”
    ·       Contact info or brief description for team members should come up when clicked, like FB, insta, Gmail..
    
    Third Tab: Events
    Is it possible to directly embed Facebook posts from Tinkerers’ Lab Page on FB? Or maybe even some Facebook groups?
    Angular components, Footer-Tanmay(Add Google Maps link to address)
Testimonials,Events-Aditya
Beginning of page(including Navbar), Django setup-Adit
Our Projects, about us(use https://team.moodi.org/ (Know your CG) for inspiration) -Akshat
Ask them for pictures of automated machines
Testimonials
Description of electrical section
Photos for about us section
Which posts in events section
Database fields for inventory?





Changes in Website :
Home page
Remarks:
·       First page: Remove 'Get Started', replace with Login button ,
·       Change the picture settings in the slideshow,  Animated background if possible
·       Increase the font size of 'Resources'
·       Change the picture of the automated machines
·       Content of the automated machines should be also of the same length
·       When we click on the machine, it opens in a square box or so, and the background gets blurred then
·       Change the description for the electrical section.
·       Add details to Read more part, Add more projects to project section and their description- Technovation, DIY, Startups, Sustainability Projects, Zero waste projects, ITSP++
·       Fun Facts- Numbers are increasing slowly
·       Testimonials- Add more and changes in the existing, Alignment of arrows for swapping is not looking good
·       In Contacts: Add Instagram also, Remove “Navigational”, Remove “This website is made by…”. Have suggestions here also open . 
 
Second Tab: About us
·       Change the photo for ‘Why Tinker’, ‘Our Vision’, ‘Our mission’ and it should be of the same size.
·       In the team section, “Team” and “Our team” both are written, remove “team”
·       Contact info or brief description for team members should come up when clicked, like FB, insta, Gmail..

Third Tab: Events
Is it possible to directly embed Facebook posts from Tinkerers’ Lab Page on FB? Or maybe even some Facebook groups?
</p>

<router-outlet></router-outlet>
<!-- Footer -->

<div class="jumbotron jumbotron-fluid" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
                <h1 style="font-family: 'Delius Swash Caps', cursive;">Tinkerers' Lab</h1>
                <p></p>
                <a routerLink="contact" class="btn btn-primary">Get in touch</a>
                <p></p>
            </div>
           
            <div class="col-sm-5" id="contact-info">
                <ul>
                    <li><i class="fas fa-map-marker-alt pr-2"></i><a href="https://goo.gl/maps/7pt9kAvjsNK5zvzDA" target="_blank">N5 Bay, Infinity Corridor, Nr. Mechanical Eng. Dept., IITB</a></li> 
                    <li><i class="fas fa-envelope pr-2"></i><a href="mailto:tinkererslaboratory@gmail.com">tinkererslaboratory@gmail.com</a></li>
                    <li><i class="fas fa-phone-alt pr-2"></i><a href="tel://022 2576 4381">022 2576 4381</a></li>
                    <li><i class="fas fa-clock pr-2"></i><span>24*7</span></li>
                </ul>
            </div>
        </div>
        <div class="row"><p></p></div>
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-4">
                <div>
                <a class="pr-3" href="https://www.linkedin.com/company/tinkerers-lab/" id="linkedin" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
                <a class="pr-3 pl-2" href="https://www.facebook.com/tinkererIITB/" id="facebook" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>  
                <a class="pl-2" href="https://www.instagram.com/tinkererslaboratory/" id="instagram" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                </div>         
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row pt-3"><p></p></div>
        <div class="row pt-3"><p></p></div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
            <h6 class="text-secondary">
            Copyright<i class="far fa-copyright p-2"></i>{{year}} All rights reserved
            </h6>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</div>
