<button type="button" class="btn btn-danger " id="report">Report</button>
<div class="container p-3" style="margin-top: 0%; padding-top: 0px; border-top: 0px;">
    <table class="table" id="tabletext">
      <tr class="table-primary">
        <th>Machine Type</th>
        <th>Machine Name </th>
        <th>Working Status</th>
      </tr>

      <div *ngFor='let machine of machines'>
        <tr class="table-success">
          <td>{{items[machine.type-1].name}}</td>
          <div *ngFor='let type of x'>
          <td><tr>{{type}}</tr></td>
            <td>{{machine.status}}</td>
          </div>
        </tr>
      </div>

      
  
      <tr class="table-success">
        <td> 3D PRINTERS</td>
        <td>
        <tr>WANHAO D7 Plus DLP</tr>
        <tr> WANHAO D9 </tr>
        <tr>Flashforge Guider</tr>
        <tr> Flashforge Inventor </tr></td>
        <td></td>
      </tr>
      
      <tr class="table-success">
        <td>ADVANCED SMALL TOOLS</td>
        <td>Jig Saw, Circular Saw, Angle Grinder, etc.</td>
        <td></td>
      </tr>      
      <tr class="table-success">
        <td>BENCHTOP TOOLS</td>
        <td>Bandsaw, Drill Press, Cold Saw, Miter Saw, Grinder, Sande</td>
        <td></td>
      </tr>
      <tr class="table-success">
        <td>LASER CUTTER</td>
        <td></td>
        <td></td>
      </tr>      
      <tr class="table-success">
        <td>LATHE</td>
        <td></td>
        <td></td>
      </tr>      
      <tr class="table-success">
        <td>VERTICAL MILL</td>
        <td></td>
        <td></td>
      </tr>      
      <tr class="table-success">
        <td>CNC MILL</td>
        <td>Intelitek BenchMill 6000</td>
        <td></td>
      </tr>      
      <tr class="table-success">
        <td>CNC LATHE</td>
        <td>Intelitek BenchTurn 7000</td>
        <td></td>
      </tr>
      <tr class="table-success">
        <td>ELECTRICAL SECTION</td>
        <td>AFG, DSO, DMM, Power Source</td>
        <td></td>
      </tr>









    </table>
  </div>