<div class="container table-responsive">

  <table class="table table-striped mt-5" id="tabletext">
    <thead class="table-primary">
      <th>Machine Type</th>
      <th>Machine Name </th>
      <th>Working Status</th>
      <th>Report</th>
    </thead>
    <tbody>
      <ng-container *ngFor="let machine of machines">
        <tr [class]="machine.status ? 'table-success':'table-danger'">
          <td>{{items[machine.type-1].name}}</td>
          <td>{{machine.name}}</td>
          <td>{{returnStatus(machine.status)}}</td>
          <td><button (click)="reportMachine(machine)" class="btn btn-danger">Report</button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
