<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
      
<div class="w3-container w3-aquamarine w3-center colo" id="initial" style="padding:88.6px 16px">
  <h1 class="w3-margin w3-jumbo" style="color: white;">ABOUT US</h1>
  <p class="w3-xlarge"></p>
  <a href="/about#1"><button class="button" style="vertical-align:middle"><span>Why Tinker? </span></button></a>
  <a href="/about#2"><button class="button" style="vertical-align:middle"><span>Our Vision </span></button></a>
  <a href="/about#3"><button class="button" style="vertical-align:middle"><span>Our Mission </span></button></a>
</div>
</div>



  
<body class="w3-content w3-black" style="max-width:1500px;">



  <div  id="1" class="w3-padding-64 w3-white">
    <div class="w3-row-padding">
      <div class="w3-col l8 m6">
        <h1 class="w3-jumbo"><b></b></h1>
        <h1 class="w3-xxxlarge w3-text-green"><b>Why Tinker?</b></h1>
        <p><span class="w3-xlarge">A Tinkerer is someone who also enjoys experimenting.</span> We, at Tinkerers’ Laboratory are always open for such people with an aim to grow innovators and thinkers, converting their creative ideas into actual engineering products. For them to do whatever they love to do, let them have limitless hands-on experience and spend hours tinkering without any worries. So if you are turned on by machines and technology, Tinkerers’ Lab is the place to be.</p>
        
        
      </div>
      <div class="w3-col l4 m6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSofUXe_HaKFv6mbxeHwycYqqjw3dUFG8mNYxEJbkNTKbgJyAjl&usqp=CAU" class="w3-image w3-right w3-hide-small" width="235" height="171">
        <div class="w3-center w3-hide-large w3-hide-medium">
          
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSofUXe_HaKFv6mbxeHwycYqqjw3dUFG8mNYxEJbkNTKbgJyAjl&usqp=CAU" width="335" height="471">
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  
  <!-- Clarity Section -->
  <div id="2"  class="w3-padding-64 w3-light-grey">
    <div class="w3-row-padding">
      <div class="w3-col l4 m6">
        <img class="w3-image w3-round-large w3-hide-small " src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSofUXe_HaKFv6mbxeHwycYqqjw3dUFG8mNYxEJbkNTKbgJyAjl&usqp=CAU" alt="App" width="335" height="471">

       
      </div>
      <div  class="w3-col l8 m6">
        <h1 class="w3-jumbo "><b></b></h1>
        <h1 class="w3-xxxlarge w3-text-red"><b>Our Vision</b></h1>
        <p><span class="w3-xlarge">Tinkerers’ Lab aims to provide hands on experience to help students become innovators converting their creative ideas into actual engineering products and start a national trend towards “Making”</span>.</p>
      </div>
      <div class="w3-center w3-hide-large w3-hide-medium  w3-col l4 m6">
          
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSofUXe_HaKFv6mbxeHwycYqqjw3dUFG8mNYxEJbkNTKbgJyAjl&usqp=CAU" class="w3-image w3-margin-top" width="335" height="471">
      </div>
    </div>
  </div>
  <div id="3" class="w3-padding-64 w3-white">
    <div class="w3-row-padding">
      <div class="w3-col l8 m6">
     
        <h1  class="w3-jumbo"><b> </b></h1>
        <h1 class="w3-xxxlarge w3-text-green"><b>Our Mission</b></h1>
        <p><span class="w3-xlarge">Increase student participation in Technical Activities, Improve quality of projects built and Expand the idea of TL to other engineering schools in Mumbai and later in other parts of country.</span> </p>
        
      </div>
      <div class="w3-col l4 m6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSofUXe_HaKFv6mbxeHwycYqqjw3dUFG8mNYxEJbkNTKbgJyAjl&usqp=CAU" class="w3-image w3-right w3-hide-small" width="335" height="471">
        <div class="w3-center w3-hide-large w3-hide-medium">
          
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSofUXe_HaKFv6mbxeHwycYqqjw3dUFG8mNYxEJbkNTKbgJyAjl&usqp=CAU" class="w3-image w3-margin-top" width="335" height="471">
        </div>
      </div>
    </div>
  </div>
  
</body>



<section class="normalScreen">
  <div class="conta2">
    <h1 class="heading"> Meet The Team</h1>
    <div class="card-wrapper">
      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="../../assets/Images/harshita.jpg" alt="profile image" class="profile-img">
        <h1>Harshita Agarwal</h1>
        <p class="job-title">Manager</p>
        <a class="about" href="callto:7654601132">7654601132</a>
        <a class="about" href="mailto:agarwalh098@gmail.com">agarwalh098@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/harshita.agrawal.7547 "><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.linkedin.com/in/harshita-agarwal-0a419b179 "><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="../../assets/Images/AadeshMadnaik.jpeg" alt="profile image" class="profile-img">
        <h1>Aadesh Madnaik</h1>
        <p class="job-title">Manager</p>
        <a class="about" href="callto:7506087127">7506087127</a>
        <a class="about" href="mailto:aadesh.madnaik@gmail.com">aadesh.madnaik@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/aadesh.madnaik.9"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.linkedin.com/in/aadesh-madnaik-a73743147/"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>


      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="../../assets/Images/nirmal2.jpg" alt="profile image" class="profile-img">
        <h1>Nirmal Shah</h1>
        <p class="job-title">Convener</p>
        <a class="about" href="callto:9833953153">9833953153</a>
        <a class="about" href="mailto:nirmalshah3012@gmail.com">nirmalshah3012@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/nirmal.shah.370515"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.linkedin.com/in/nirmal-shah-92a41a192/"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>


      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="../../assets/Images/20190920_213930.jpg" alt="profile image" class="profile-img">
        <h1>Aniket Agrawal</h1>
        <p class="job-title">Convener</p>
        <a class="about" href="callto:9636541817">9636541817</a>
        <a class="about" href="mailto:aniket.0agrawal@gmail.com">aniket.0agrawal@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/aniket.agrawal.984"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="linkedin.com/in/aniket-agrawal-a59863194"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="../../assets/Images/Gagan.jpg" alt="profile image" class="profile-img">
        <h1>Gagan Singh</h1>
        <p class="job-title">Convener</p>
        <a class="about" href="callto:7738853144">7738853144</a>
        <a class="about" href="mailto:gaganbs542@gmail.com">gaganbs542@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://m.facebook.com/coolgagan?ref=bookmarks"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.linkedin.com/in/gagan-singh-194120193/"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="../../assets/Images/IMG20191209165616.jpg" alt="profile image" class="profile-img">
        <h1>Vedant Chandak</h1>
        <p class="job-title">Convener</p>
        <a class="about" href="callto:8421556323">8421556323</a>
        <a class="about" href="mailto:vedantchandak1706@gmail.com">vedantchandak1706@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/vedant.chandak.1"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>


      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="../../assets/Images/FM1_2069.JPG" alt="profile image" class="profile-img">
        <h1>Bhuvan Aggarwal</h1>
        <p class="job-title">Convener</p>
        <a class="about" href="callto:9878960462">9878960462</a>
        <a class="about" href="mailto:bhuvanaggarwal9@gmail.com">bhuvanaggarwal9@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/bhuvan.aggarwal.16"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.linkedin.com/in/bhuvan-aggarwal-77b1b4191"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <h1>Vinayak Shelar</h1>
        <p class="job-title">Technician</p>
        <a class="about" href="mailto:vinayak.shelar78@gmail.com">vinayak.shelar78@gmail.com</a> 
      </div>


      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <h1>Rohit <br> Chile </h1>
        <p class="job-title">Technician</p>
        <a class="about" href="mailto:chile.rohit@gmail.com">chile.rohit@gmail.com</a> 
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <h1>Ajinkya Kadam</h1>
        <p class="job-title">Technician</p>
        <a class="about" href="mailto:ajinkyakadam777@gmail.com">ajinkyakadam777@gmail.com</a> 
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <h1>Prof. Ramesh Singh</h1>
        <p class="job-title">Faculty Advisor</p>
        <p class="about" style="font-style: normal;">Machine Tools Laboratory <br>
          Department of Mechanical Engineering</p>
        <p class="about">Indian Institute of Technology, Bombay</p>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <h1>Prof. Joseph John</h1>
        <p class="job-title">Faculty Advisor</p>
        <p class="about" style="font-style: normal;">Professor<br>
          Department of Electrical Engineering</p>
        <p class="about">Indian Institute of Technology, Bombay</p>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <h1>Prof. Vivek Sangwan</h1>
        <p class="job-title">Faculty Advisor</p>
        <p class="about" style="font-style: normal;">Assistant Professor<br>
          Department of Mechanical Engineering</p>
        <p class="about">Indian Institute of Technology, Bombay</p>
      </div>

    </div>
  </div>
</section>


<section class="largeScreen">
  <div class="conta">
    <h1 class="heading"> Meet The Team</h1>
    <div class="card-wrapper">
      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="../../assets/Images/harshita.jpg" alt="profile image" class="profile-img">
        <h1>Harshita Agarwal</h1>
        <p class="job-title">Manager</p>
        <a class="about" href="callto:7654601132">7654601132</a>
        <a class="about" href="mailto:agarwalh098@gmail.com">agarwalh098@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/harshita.agrawal.7547 "><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.linkedin.com/in/harshita-agarwal-0a419b179 "><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="../../assets/Images/AadeshMadnaik.jpeg" alt="profile image" class="profile-img">
        <h1>Aadesh Madnaik</h1>
        <p class="job-title">Manager</p>
        <a class="about" href="callto:7506087127">7506087127</a>
        <a class="about" href="mailto:aadesh.madnaik@gmail.com">aadesh.madnaik@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/aadesh.madnaik.9"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.linkedin.com/in/aadesh-madnaik-a73743147/"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>


      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="https://www.w3schools.com/w3images/team1.jpg" alt="profile image" class="profile-img">
        <h1>Nirmal Shah</h1>
        <p class="job-title">Convener</p>
        <a class="about" href="callto:9833953153">9833953153</a>
        <a class="about" href="mailto:nirmalshah3012@gmail.com">nirmalshah3012@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/nirmal.shah.370515"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.linkedin.com/in/nirmal-shah-92a41a192/"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>


      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="../../assets/Images/20190920_213930.jpg" alt="profile image" class="profile-img">
        <h1>Aniket Agrawal</h1>
        <p class="job-title">Convener</p>
        <a class="about" href="callto:9636541817">9636541817</a>
        <a class="about" href="mailto:aniket.0agrawal@gmail.com">aniket.0agrawal@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/aniket.agrawal.984"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="linkedin.com/in/aniket-agrawal-a59863194"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="../../assets/Images/Gagan.jpg" alt="profile image" class="profile-img">
        <h1>Gagan Singh</h1>
        <p class="job-title">Convener</p>
        <a class="about" href="callto:7738853144">7738853144</a>
        <a class="about" href="mailto:gaganbs542@gmail.com">gaganbs542@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://m.facebook.com/coolgagan?ref=bookmarks"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.linkedin.com/in/gagan-singh-194120193/"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="../../assets/Images/IMG20191209165616.jpg" alt="profile image" class="profile-img">
        <h1>Vedant Chandak</h1>
        <p class="job-title">Convener</p>
        <a class="about" href="callto:8421556323">8421556323</a>
        <a class="about" href="mailto:vedantchandak1706@gmail.com">vedantchandak1706@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/vedant.chandak.1"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>


      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <img src="../../assets/Images/FM1_2069.JPG" alt="profile image" class="profile-img">
        <h1>Bhuvan Aggarwal</h1>
        <p class="job-title">Convener</p>
        <a class="about" href="callto:9878960462">9878960462</a>
        <a class="about" href="mailto:bhuvanaggarwal9@gmail.com">bhuvanaggarwal9@gmail.com</a>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/bhuvan.aggarwal.16"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.linkedin.com/in/bhuvan-aggarwal-77b1b4191"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <h1>Vinayak Shelar</h1>
        <p class="job-title">Technician</p>
        <a class="about" href="mailto:vinayak.shelar78@gmail.com">vinayak.shelar78@gmail.com</a> 
      </div>


      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <h1>Rohit <br> Chile </h1>
        <p class="job-title">Technician</p>
        <a class="about" href="mailto:chile.rohit@gmail.com">chile.rohit@gmail.com</a> 
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <h1>Ajinkya Kadam</h1>
        <p class="job-title">Technician</p>
        <a class="about" href="mailto:ajinkyakadam777@gmail.com">ajinkyakadam777@gmail.com</a> 
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <h1>Prof. Ramesh Singh</h1>
        <p class="job-title">Faculty Advisor</p>
        <p class="about" style="font-style: normal;">Machine Tools Laboratory <br>
          Department of Mechanical Engineering</p>
        <p class="about">Indian Institute of Technology, Bombay</p>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <h1>Prof. Joseph John</h1>
        <p class="job-title">Faculty Advisor</p>
        <p class="about" style="font-style: normal;">Professor<br>
          Department of Electrical Engineering</p>
        <p class="about">Indian Institute of Technology, Bombay</p>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="card background" class="card-img">
        <h1>Prof. Vivek Sangwan</h1>
        <p class="job-title">Faculty Advisor</p>
        <p class="about" style="font-style: normal;">Assistant Professor<br>
          Department of Mechanical Engineering</p>
        <p class="about">Indian Institute of Technology, Bombay</p>
      </div>
    </div>
  </div>
</section>