<div>
    <!-- <div class="js-fullheight"> -->
    <div class="hero-wrap">
      <div class="overlay"></div>
      <div class="circle-bg"></div>
      <div class="circle-bg-2"></div>
      <div class="container-fluid">
        <div class="row no-gutters d-flex slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a routerLink="home">Home</a></span> <span>About</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row d-md-flex">
	    		<div class="col-md-6 ftco-animate img about-image" style="background-image: url(../../assets/Images/tinkerer.jpg);">
	    		</div>
	    		<div class="col-md-6 ftco-animate p-md-5">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill" href="#v-pills-whatwedo" role="tab" aria-controls="v-pills-whatwedo" aria-selected="true">Why Tinker?</a>

		              <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab" aria-controls="v-pills-mission" aria-selected="false">Our Vision</a>

		              <a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab" aria-controls="v-pills-goal" aria-selected="false">Our mission</a>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel" aria-labelledby="v-pills-whatwedo-tab">
		              	<div>
			                <h2 class="mb-4">A Tinkerer is someone who also enjoys experimenting. </h2>
			              	<p>We, at Tinkerers’ Laboratory are always open for such people with an aim to grow innovators and thinkers, converting their creative ideas into actual engineering products. For them to do whatever they love to do, let them have limitless hands-on experience and spend hours tinkering without any worries. So if you are turned on by machines and technology, Tinkerers’ Lab is the place to be.</p>
				            </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
		                <div>
			                <h2 class="mb-4"></h2>
			              	<p>Tinkerers’ Lab aims to provide hands on experience to help students become innovators converting their creative ideas into actual engineering products and start a national trend towards “Making”</p>
				            </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-goal" role="tabpanel" aria-labelledby="v-pills-goal-tab">
		                <div>
			                <h2 class="mb-4"></h2>
			              	<p>Increase student participation in Technical Activities, Improve quality of projects built and Expand the idea of TL to other engineering schools in Mumbai and later in other parts of country.
</p>
				            </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
    	</div>
    </section>
    
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Team</span>
            <h2 class="mb-4">Our Team</h2>
            <p>Talent wins games, but teamwork and intelligence win championships.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 ftco-animate">
            <div class="block-10">
              <div class="person-info mb-2">
                <span class="name">Manan Tayal</span>
                <span class="position">TL Manager</span>
              </div>
              <img src="../../assets/Images/tl_man_1.png" alt="" class="img-fluid mb-3">
              </div>
          </div>
          <div class="col-md-6 mb-5 ftco-animate">
            <div class="block-10">
              <div class="person-info mb-2">
                <span class="name">Lovekush Tak</span>
                <span class="position">TL Manager</span>
              </div>
              <img src="../../assets/Images/tl_man_2.png" alt="" class="img-fluid mb-3">
              </div>
          </div>
          
        </div>
		<div class="row">
          <div class="col-md-4 mb-5 ftco-animate">
            <div class="block-10">
              <div class="person-info mb-2">
                <span class="name">Shubham Agarwal</span>
                <span class="position">Convenor</span>
              </div>
              <img src="../../assets/Images/tl_con_1.png" alt="" class="img-fluid mb-3">
              </div>
          </div>
          <div class="col-md-4 mb-5 ftco-animate">
            <div class="block-10">
              <div class="person-info mb-2">
                <span class="name">Swaraj Goyal</span>
                <span class="position">Convenor</span>
              </div>
              <img src="../../assets/Images/tl_con_2.png" alt="" class="img-fluid mb-3">
            </div>
          </div>
          <div class="col-md-4 mb-5 ftco-animate">
            <div class="block-10">
              <div class="person-info mb-2">
                <span class="name">Nakul Randad</span>
                <span class="position">Convenor</span>
              </div>
              <img src="../../assets/Images/tl_con_3.png" alt="" class="img-fluid mb-3">
            </div>
          </div>
          <div class="col-md-4 mb-5 ftco-animate">
            <div class="block-10">
              <div class="person-info mb-2">
                <span class="name">Harshita Agarwal</span>
                <span class="position">Convenor</span>
              </div>
              <img src="../../assets/Images/tl_con_4.png" alt="" class="img-fluid mb-3">
            </div>
          </div>
          <div class="col-md-4 mb-5 ftco-animate">
            <div class="block-10">
              <div class="person-info mb-2">
                <span class="name">Aadesh Madnaik</span>
                <span class="position">Convenor</span>
              </div>
              <img src="../../assets/Images/tl_con_5.png" alt="" class="img-fluid mb-3">
            </div>
          </div>
          
        </div>
		
      </div>
    </section>
	
</div>
