  <header class="w3-container w3-aquamarine w3-center colo" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">ABOUT US</h1>
    <p class="w3-xlarge"></p>
    <a href="/about#1"><button class="button" style="vertical-align:middle"><span>Why Tinker? </span></button></a>
    <a href="/about#2"><button class="button" style="vertical-align:middle"><span>Our vision </span></button></a>
    <a href="/about#3"><button class="button" style="vertical-align:middle"><span>Our Mission </span></button></a>
  </header>



  
<body class="w3-content w3-black" style="max-width:1500px;">



  <div  id="1" class="w3-padding-64 w3-white">
    <div class="w3-row-padding">
      <div class="w3-col l8 m6">
        <h1 class="w3-jumbo"><b></b></h1>
        <h1 class="w3-xxxlarge w3-text-green"><b>Why Tinker?</b></h1>
        <p><span class="w3-xlarge">A Tinkerer is someone who also enjoys experimenting.</span> We, at Tinkerers’ Laboratory are always open for such people with an aim to grow innovators and thinkers, converting their creative ideas into actual engineering products. For them to do whatever they love to do, let them have limitless hands-on experience and spend hours tinkering without any worries. So if you are turned on by machines and technology, Tinkerers’ Lab is the place to be.</p>
        
        
      </div>
      <div class="w3-col l4 m6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSofUXe_HaKFv6mbxeHwycYqqjw3dUFG8mNYxEJbkNTKbgJyAjl&usqp=CAU" class="w3-image w3-right w3-hide-small" width="235" height="171">
        <div class="w3-center w3-hide-large w3-hide-medium">
          
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSofUXe_HaKFv6mbxeHwycYqqjw3dUFG8mNYxEJbkNTKbgJyAjl&usqp=CAU" width="335" height="471">
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  
  <!-- Clarity Section -->
  <div id="2"  class="w3-padding-64 w3-light-grey">
    <div class="w3-row-padding">
      <div class="w3-col l4 m6">
        <img class="w3-image w3-round-large w3-hide-small " src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSofUXe_HaKFv6mbxeHwycYqqjw3dUFG8mNYxEJbkNTKbgJyAjl&usqp=CAU" alt="App" width="335" height="471">

       
      </div>
      <div  class="w3-col l8 m6">
        <h1 class="w3-jumbo "><b></b></h1>
        <h1 class="w3-xxxlarge w3-text-red"><b>Our Vision</b></h1>
        <p><span class="w3-xlarge">Tinkerers’ Lab aims to provide hands on experience to help students become innovators converting their creative ideas into actual engineering products and start a national trend towards “Making”</span>.</p>
      </div>
      <div class="w3-center w3-hide-large w3-hide-medium  w3-col l4 m6">
          
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSofUXe_HaKFv6mbxeHwycYqqjw3dUFG8mNYxEJbkNTKbgJyAjl&usqp=CAU" class="w3-image w3-margin-top" width="335" height="471">
      </div>
    </div>
  </div>
  <div id="3" class="w3-padding-64 w3-white">
    <div class="w3-row-padding">
      <div class="w3-col l8 m6">
     
        <h1  class="w3-jumbo"><b> </b></h1>
        <h1 class="w3-xxxlarge w3-text-green"><b>Our Mission</b></h1>
        <p><span class="w3-xlarge">Increase student participation in Technical Activities, Improve quality of projects built and Expand the idea of TL to other engineering schools in Mumbai and later in other parts of country.</span> </p>
        
      </div>
      <div class="w3-col l4 m6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSofUXe_HaKFv6mbxeHwycYqqjw3dUFG8mNYxEJbkNTKbgJyAjl&usqp=CAU" class="w3-image w3-right w3-hide-small" width="335" height="471">
        <div class="w3-center w3-hide-large w3-hide-medium">
          
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSofUXe_HaKFv6mbxeHwycYqqjw3dUFG8mNYxEJbkNTKbgJyAjl&usqp=CAU" class="w3-image w3-margin-top" width="335" height="471">
        </div>
      </div>
    </div>
  </div>
  
  <!-- Features Section -->
  <div class="w3-container w3-padding-64 w3-dark-grey w3-center">
    <h1 class="w3-jumbo"><b>Features</b></h1>
    <p>This app is just so lorem ipsum.</p>
  
    <div class="w3-row" style="margin-top:64px">
      <div class="w3-col s3">
        <i class="fa fa-bolt w3-text-orange w3-jumbo"></i>
        <p>Fast</p>
      </div>
      <div class="w3-col s3">
        <i class="fa fa-heart w3-text-red w3-jumbo"></i>
        <p>Loved</p>
      </div>
      <div class="w3-col s3">
        <i class="fa fa-camera w3-text-yellow w3-jumbo"></i>
        <p>Clarity</p>
      </div>
      <div class="w3-col s3">
        <i class="fa fa-battery-full w3-text-green w3-jumbo"></i>
        <p>Power</p>
      </div>
    </div>
  
    <div class="w3-row" style="margin-top:64px">
      <div class="w3-col s3">
        <i class="fa fa-diamond w3-text-white w3-jumbo"></i>
        <p>Sharp</p>
      </div>
      <div class="w3-col s3">
        <i class="fa fa-cloud w3-text-blue w3-jumbo"></i>
        <p>Cloud</p>
      </div>
      <div class="w3-col s3">
        <i class="fa fa-globe w3-text-amber w3-jumbo"></i>
        <p>Global</p>
      </div>
      <div class="w3-col s3">
        <i class="fa fa-hdd-o w3-text-cyan w3-jumbo"></i>
        <p>Storage</p>
      </div>
    </div>
    
    <div class="w3-row" style="margin-top:64px">
      <div class="w3-col s3">
        <i class="fa fa-user w3-text-sand w3-jumbo"></i>
        <p>Safe</p>
      </div>
      <div class="w3-col s3">
        <i class="fa fa-shield w3-text-orange w3-jumbo"></i>
        <p>Stabile</p>
      </div>
      <div class="w3-col s3">
        <i class="fa fa-wifi w3-text-grey w3-jumbo"></i>
        <p>Connected</p>
      </div>
      <div class="w3-col s3">
        <i class="fa fa-image w3-text-pink w3-jumbo"></i>
        <p>HD</p>
      </div>
    </div>
  </div>
  

  <section class="members" >

    <div class="w3-padding-64 w3-center w3-white">
      <h1 class="w3-jumbo"><b>Our Team</b></h1>
      <p class="w3-large">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, mollitia.     </p>
      
    </div>

  <div class="w3-container w3-padding-32" id="about">
    
    
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img_avatar.png" alt="Avatar" style="width:200px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img_avatar.png" alt="Avatar" style="width:200px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img_avatar.png" alt="Avatar" style="width:200px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img_avatar.png" alt="Avatar" style="width:200px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-container w3-padding-32" id="about">
    
    
  </div>


  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img_avatar.png" alt="Avatar" style="width:200px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img_avatar.png" alt="Avatar" style="width:200px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img_avatar.png" alt="Avatar" style="width:200px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img_avatar.png" alt="Avatar" style="width:200px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-container w3-padding-32" id="about">
    
    
  </div>
</section>
  <!-- Pricing Section -->
  
</body>