<!-- 
<div  *ngFor="let order of orders" class="row">
  <div class="col-lg-12">
    <div class="box-element">

      <a  class="btn btn-outline-dark" href="#">&#x2190; Continue Shopping</a>

      <br>
      <br>
      <table class="table">
        <tr>
          <th><h5>Items: <strong>{{order.get_cart_products}}</strong></h5></th>
          <th>
            <a  style="float:right; margin:5px;" class="btn btn-success" href="#">Checkout</a>
          </th>
        </tr>
      </table>

    </div>

    <br>
    <div class="box-element">
      <div class="cart-row">
        <div style="flex:2"></div>
        <div style="flex:2"><strong>Item</strong></div>
      
        <div style="flex:1"><strong>Quantity</strong></div>
      </div>
      
      <div *ngFor="let product of products"  >
        <div *ngIf="choose(order.id, product.order)" class="cart-row">
        <div style="flex:2" *ngIf="choose(order.id, product.order)"><img class="row-image" src=""></div>
        <div style="flex:2" *ngIf="choose(order.id, product.order)"><p></p></div>
        <div style="flex:1" *ngIf="choose(order.id, product.order)">
          <p class="quantity " *ngIf="choose(order.id, product.order)">{{product.quantity}}</p>
          <div class="quantity " *ngIf="choose(order.id, product.order)">
            <img class="chg-quantity" src="" alt="up">
        
            <img class="chg-quantity" src="" alt="down">
          </div>
        </div>
      </div>
      </div>
      
    </div>
  </div>
</div>



<br><br><br><br><br>
<h1>sample with request class</h1>
<br><br><br><br> -->


<div class="row">
  <div class="col-lg-12">
    <div class="box-element">

      <a class="btn btn-outline-dark" routerLink="../inventory">&#x2190; Back to Inventory</a>
      &nbsp;&nbsp;&nbsp;<a class="btn btn-outline-dark" (click)="deleteAllRequest()"> Clear Cart</a>
      <br>
      <br>
      <table class="table">
        <tr>
          <th>
            <h5>Items: <strong> {{total(1)}} {{total_items}} </strong></h5>
          </th>
          <th>
            <a style="float:right; margin:5px;" class="btn btn-success" (click)="updateRequest()"
              title="Send request to issue all items in cart">Checkout</a>
          </th>
        </tr>
      </table>

    </div>

    <br>
    <div *ngIf="total_items != 0" class="box-element">
      <div class="cart-row">
      
        <div  class="head"><strong >Item</strong></div>
      
        
        <div  class="head2"><strong>Quantity</strong></div>
      </div>
      <div *ngFor="let request of requests">
        <div  *ngIf=" !(request.is_sent)  " class="cart-row">
            <div    class="bod2"><img class="row-image" src={{items[request.item-1].picture}}></div>
            <div   style="flex:2" class="bod1"><p>{{items[request.item-1].name}}</p></div>
            <div style="flex:1">
              <a class="chg-quantity fas fa-angle-up" style='font-size:36px' (click)="updateQuantityUp(request)"></a>
              <p class="quantity">{{request.quantity}}</p>
              <a class="chg-quantity fas fa-angle-down" style='font-size:36px' (click)="updateQuantityDown(request)"></a>
            </div>
            <div   style="flex:2">
              <a class="chg-quantity fas fa-trash bin" style='font-size:36px' (click)="deleteRequest(request)"></a>
            </div>
          </div>
     </div>
    </div>
  </div>
</div>



<div *ngIf="total_items == 0" class="alert alert-warning" role="alert">
  Your cart is empty
</div>
