<div class="row">
  <div class="col-sm-1 col-2"></div>
  <div class="col-sm-3 col-8" style="margin-bottom: 3vw; ">
    <h1>
     Think.<br>
     Tinker.<br>
     Transform.<br>
  </h1>
     If it can be imagined, it can be made.
     <br>
     <br>
     <a href="#" class="btn btn-primary px-4 py-2">Login</a>
  </div>

<div class="slideshow col-sm-8" style="height: 420px;">

    <div class="slideshow-item item-1">
      <img src="http://lorempixel.com/g/600/420" alt="" />
    </div>

    <div class="slideshow-item item-2">
      <img src="http://lorempixel.com/g/500/420" alt="" />
    </div>

    <div class="slideshow-item item-3">
      <img src="http://lorempixel.com/g/480/420" alt="" />
    </div>

    <div class="slideshow-item item-4">
      <img src="http://lorempixel.com/g/640/420" alt="" />
    </div>
  </div>
</div>