<div>  
    <div class="hero-wrap">
      <div class="overlay"></div>
      <div class="circle-bg"></div>
      <div class="circle-bg-2"></div>
      <div class="container-fluid">
        <div class="slider-text row " data-scrollax-parent="true" style="padding:100px 40px">
  
          <div class="col-md-4 col-sm-12" data-scrollax=" properties: { translateY: '0%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Think. <br> Tinker. <br> Transform.</h1>
            <p class="mb-md-5 mb-sm-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">If it can be imagined, it can be made.</p>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="#" class="btn btn-primary px-4 py-3">Get started</a></p>
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="slider-carousel owl-carousel">
              <div class="item">
                <img src="../../assets/Images/pic1.jpg" class="img-fluid img"alt="">
              </div>
              <div class="item">
                <img src="../../assets/Images/pic2.jpg" class="img-fluid img"alt="">
              </div>
              <div class="item">
                <img src="../../assets/Images/pic3.jpg" class="img-fluid img"alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <section class="ftco-section services-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Resources</span>
            <h2 class="mb-4">Automated Machines</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><img src="../../assets/Images/3dprint.png" height="80px" width="80px"></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">3D Printer</h3>
                <p>A process for making a physical object from a three-dimensional digital model, typically by laying down many successive thin layers of a material.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><img src="../../assets/Images/lasercut.png" height="80px" width="80px"></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Laser Cutter</h3>
                <p>A prototyping and manufacturing tool used primarily by engineers, designers, and artists to cut and etch into flat material.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><img src="../../assets/Images/cnc.png" height="80px" width="80px"></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">CNC Machines</h3>
                <p>Computer numerical control(CNC) Machine uses numerical data to control a machine. CNC machines rely on a system of three linear and three rotational axes in order to calculate the motion and position of machine components and workpieces.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section services-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Wood & Metal Working</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><img src="../../assets/Images/milling.png" height="80px" width="80px"></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Milling Machine</h3>
                <p>Milling is the cutting operation that removes metal by feeding the work against a rotating, cutter having single or multiple cutting edges. Flat or curved surfaces of many shapes can be machined by milling with good finish and accuracy.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><img src="../../assets/Images/lathe.png" height="80px" width="80px"></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Lathe Machine</h3>
                <p>a machine tool that rotates a workpiece about an axis of rotation to perform various operations such as cutting, sanding, knurling, drilling, deformation, facing, and turning, with tools that are applied to the workpiece to create an object with symmetry about that axis.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><img src="../../assets/Images/powertool.png" height="80px" width="80px"></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Power Tools</h3>
                <p>A power tool is a tool that is actuated by an additional power source and mechanism other than the solely manual labor used with hand tools. The most common types of power tools use electric motors</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>
  
    <section class="ftco-section services-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Electrical Section</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><img src="../../assets/Images/soldering.png" height="80px" width="80px"></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Soldering Station</h3>
                <p>Soldering is one of the most fundamental skills needed to dabble in the world of electronics. The two go together like peas and carrots.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><img src="../../assets/Images/waves.png" height="80px" width="80px"></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">DSO, Power Sources & AFG</h3>
                <p>The main purpose of an oscilloscope is to graph an electrical signal as it varies over time. Most scopes produce a two-dimensional graph with time on the x-axis and voltage on the y-axis.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><img src="../../assets/Images/chip.png" height="80px" width="80px"></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Electronics</h3>
                <p>Tinkerers' lab has lots of cool electronics stuff like sensors, arduino boards, Raspbery pi, etc.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>
  
  
  
    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Projects</span>
            <h2 class="mb-4">Our Projects..</h2>
          </div>
        </div>
        <div class="row">
      <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="col-md-10 ftco-animate">
            <div class="block-7">
              <div class="text-center">
              <h2 class="heading">ITSP</h2>
              <span class="excerpt d-block">EMO TV</span>
              
              <h3 class="heading-2 mb-5">As the name suggests, EmoTv is capable of interacting with a person and determine his current mood. </h3>
              <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Read More</a>
              
              </div>
            </div>
          </div>
          <div class="col-md-10 ftco-animate">
            <div class="block-7">
              <div class="text-center">
              <h2 class="heading">Technovation</h2>
              <span class="excerpt d-block">CNC tube processing machine</span>
              
              <h3 class="heading-2 mb-5">A machine for steel structure fabrication industry, to perform multiple machining operations like cutting, notching, holes and slotting at a time. </h3>
              <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Read More</a>
              
              </div>
            </div>
          </div>
          <div class="col-md-10 ftco-animate">
            <div class="block-7">
              <div class="text-center">
              <h2 class="heading">ITSP</h2>
              <span class="excerpt d-block">H.A.N.C.O</span>
              
              <h3 class="heading-2 mb-5">H.A.N.C.O. is an IoT device developed with a vision to become a dedicated personal AI assistant. </h3>
              <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Read More</a>
              
              </div>
            </div>
          </div>
          <div class="col-md-10 ftco-animate">
            <div class="block-7">
              <div class="text-center">
              <h2 class="heading">ITSP</h2>
              <span class="excerpt d-block">OPTIKA</span>
              
              <h3 class="heading-2 mb-5">The project Optika makes surrounding of a visually impaired person more friendly by installing a lot of very helpful features on a raspberry pi. </h3>
              <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Read More</a>
              </div>
            </div>
          </div>
      <div class="col-md-10 ftco-animate">
            <div class="block-7">
              <div class="text-center">
              <h2 class="heading">Technovation</h2>
              <span class="excerpt d-block">Hot Wire CNC (RC plane wing cutter)</span>
              
              <h3 class="heading-2 mb-5">This device cuts a desired airfoil shape wing out of the thermocol block and is fully automatic. User will have to provide the airfoil data file.</h3>
              <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-10 ftco-animate">
            <div class="block-7">
              <div class="text-center">
              <h2 class="heading">ITSP</h2>
              <span class="excerpt d-block">OPTIKA</span>
              
              <h3 class="heading-2 mb-5">The project Optika makes surrounding of a visually impaired person more friendly by installing a lot of very helpful features on a raspberry pi. </h3>
              <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Read More</a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>
  
    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(../../assets/Images/bg_1.jpg);">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-4">Some fun facts</h2>
            <span class="subheading"></span>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="1500">0</strong>
                    <span>sq. ft. of space</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="100">+</strong><strong>+</strong>
                    <span>Projects Made every year</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="50000">+</strong><strong>+</strong>
                    <span>man-hours of work done</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="1000">0</strong><strong>+</strong>
                    <span>Students work in this Lab yearly</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">testimonials</span>
            <h2 class="mb-4">From the pen of our Alumni</h2>
           </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(../../assets/Images/ashima.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">It is a platform where they can transform their idea into product.
                                    Other labs have many issues like permissions but this is a lab for students run by
                                    students. Everything is available there so that they come with an idea and go out with a product.
                                    Initially, thought that they didn't want to push students to get a product and let TL use as a
                                    space and eventually after few years products will come out of tl.</p>
                    <p class="name">Ashima Mittal</p>
                    <span class="position">STAB O.C.2013-14</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(../../assets/Images/chirag.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">Tinkerers’ Lab (TL) has played a very pivotal role in my life@IITB. I think idea of TL is so awesome. Working in TL fulfilled the conception I had while
                                    preparing for JEE, about how engineering at the Indian Institute of Technology ought be.
                                    Inspired, I believed that I was uniquely positioned to lead TL.</p>
                                  
                    <p class="name">Chirag Shetty</p>
                    <span class="position"> STAB OC 2015-16</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(../../assets/Images/Umang.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5"></p>
                    <p class="name">Umang Chhaparia</p>
                    <span class="position">TL Manager 2015-16</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(../../assets/Images/hemant.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">Our counterparts in US and Europe learn to build and tinker with systems from an early age. That gives them an edge when we compete with them in our professional lives. Innovators like Steve Jobs of Apple and Mark Zuckerberg of Facebook developed their innovative ideas while experimenting as students, whereas we at IIT usually learn how to excel within confined bounds of curriculum and examination system. I believe that to be relevant in technology game, IITs have to meet the challenge of how to motivate their students to build things, to take initiatives and to learn to innovate by building and Tinkerers' Lab(TL) will play an important role in that." </p>
  
                    <p class="name">Mr. Hemant Kanakia</p>
                    <span class="position">a 1975 batch alumnus of the Institute and a successful entrepreneur based in USA</span>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
    </section>    
  </div>
