.card img {
    width: 80px;
    height: auto;
}

.card-footer {
    background-color: #24bdc9;
    height: auto;
    color: white;
}

.overlay {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    backdrop-filter: blur(5px);
}

.expanded {
    position: absolute;
    margin-top: 20vh;
    color: white;
    left: 10vw;
    right: 10vw;
    text-align: center;
}

.expanded>img {
    width: 15vw;
}

.slideshow {
    background: lighten(black, 15);
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;
}

.slideshow-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.slideshow-item>img {
    display: block;
    margin: auto;
}

.item-1 {
    opacity: 1;
}

.item-1 {
    animation: slideshow 16s ease 0s infinite;
}

.item-2 {
    animation: slideshow 16s ease 4s infinite;
}

.item-3 {
    animation: slideshow 16s ease 8s infinite;
}

.item-4 {
    animation: slideshow 16s ease 12s infinite;
}

@keyframes slideshow {
    0%, 30%, 100% {
        opacity: 0;
    }
    5%, 25% {
        opacity: 1;
    }
}

#intro {
    margin-left: 3vw;
}