
<div id="loginloader" >
  <div id="loginLoader" class="spinner-border text-info"></div>
</div>
<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="row mt-0 pt-5" id="initial">

    <div class="col-md-1 col-2 ml-0"></div>
    <div class="col-md-4 col-8" style="margin-bottom: 3vw; ">
      <h1>
        Think.<br>
        Tinker.<br>
        Transform.<br>
      </h1>
      <h4 class="mt-2">If it can be imagined, it can be made.</h4>
      <br>
      <br>
      <a *ngIf="! logged_in"  href="{{loginUrl}}" class="btn btn-primary px-4 py-2">Login with SSO</a>
      <a *ngIf="logged_in" href="" class="btn btn-primary px-4 py-2">Logged in as {{user_data.roll_number}}</a>
    </div>

    <div class="slideshow col-md-7" style="height: 420px;">

      <div class="slideshow-item item-1">
        <img src="http://lorempixel.com/g/600/420" alt="" />
      </div>

      <div class="slideshow-item item-2">
        <img src="http://lorempixel.com/g/500/420" alt="" />
      </div>

      <div class="slideshow-item item-3">
        <img src="http://lorempixel.com/g/480/420" alt="" />
      </div>

      <div class="slideshow-item item-4">
        <img src="http://lorempixel.com/g/640/420" alt="" />
      </div>
    </div>
  </div>

</div>


<div class="container" id="tools">
  
  <div class="display-2 mb-5 heading" style="color: #24bdc9;">Resources</div>
  <h2 class="heading m-5">Automated Machines</h2>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body mx-auto stretched-link"><img class="ml-4" src="../../assets/Images/3dprint.png"
            alt="Couldn't load">
          <p></p>
          <h4>3D Printer</h4>
        </div>
        <div class="card-footer ">A process for making a physical object ...</div>
        <div class="overlay">
          <div class="expanded">

            <img src="../../assets/Images/3dprint.png" alt="Couldn't load">
            <p></p>
            <h2>3D Printer</h2>
            <br>
            <div>
              <h4>A process for making a physical object from a three-dimensional digital model, typically by laying
                down many successive thin layers of a material.</h4>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body mx-auto stretched-link"><img class="ml-4" src="../../assets/Images/lasercut.png"
            alt="Couldn't load">
          <p></p>
          <h4>Laser Cutter</h4>
        </div>
        <div class="card-footer pb-3">A prototyping and manufacturing tool ...</div>
        <div class="overlay">
          <div class="expanded">
            <img src="../../assets/Images/lasercut.png" alt="Couldn't load">
            <p></p>
            <h2>Laser Cutter</h2>
            <br>
            <div>
              <h4>A prototyping and manufacturing tool used primarily by engineers, designers, and artists to cut and
                etch into flat material.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body mx-auto stretched-link"><img class="ml-4" src="../../assets/Images/cnc.png"
            alt="Couldn't load">
          <p></p>
          <h4>CNC Machines</h4>
        </div>
        <div class="card-footer">CNC machines rely on a system of three ...</div>
        <div class="overlay">
          <div class="expanded">
            <img src="../../assets/Images/cnc.png" alt="Couldn't load">
            <p></p>
            <h2>CNC Machines</h2>
            <br>
            <div>
              <h4>Computer numerical control(CNC) Machine uses numerical data to control a machine. CNC machines rely on
                a system of three linear and three rotational axes in order to calculate the motion and position of
                machine components and workpieces.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="heading">
    <h2 class="m-5">Wood & Metal Working</h2>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body mx-auto stretched-link"><img class="ml-4" src="../../assets/Images/milling.png"
            alt="Couldn't load">
          <p></p>
          <h4>Milling Machine</h4>
        </div>
        <div class="card-footer">Milling is the cutting operation that ...</div>
        <div class="overlay">
          <div class="expanded">

            <img src="../../assets/Images/milling.png" alt="Couldn't load">
            <p></p>
            <h2>Milling Machine</h2>
            <br>
            <div>
              <h4>Milling is the cutting operation that removes metal by feeding the work against a rotating, cutter
                having single or multiple cutting edges. Flat or curved surfaces of many shapes can be machined by
                milling with good finish and accuracy.</h4>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body mx-auto stretched-link"><img class="ml-4" src="../../assets/Images/lathe.png"
            alt="Couldn't load">
          <p></p>
          <h4>Lathe Machine</h4>
        </div>
        <div class="card-footer pb-3">A machine tool that rotates a ...</div>
        <div class="overlay">
          <div class="expanded">
            <img src="../../assets/Images/lathe.png" alt="Couldn't load">
            <p></p>
            <h2>Lathe Machine</h2>
            <br>
            <div>
              <h4>A machine tool that rotates a workpiece about an axis of rotation to perform various operations such
                as cutting, sanding, knurling, drilling, deformation, facing, and turning, with tools that are applied
                to the workpiece to create an object with symmetry about that axis.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body mx-auto stretched-link"><img class="ml-4" src="../../assets/Images/powertool.png"
            alt="Couldn't load">
          <p></p>
          <h4>Power Tools</h4>
        </div>
        <div class="card-footer">A power tool is a tool that is actuated ...</div>
        <div class="overlay">
          <div class="expanded">
            <img src="../../assets/Images/powertool.png" alt="Couldn't load">
            <p></p>
            <h2>Power Tools</h2>
            <br>
            <div>
              <h4>A power tool is a tool that is actuated by an additional power source and mechanism other than the
                solely manual labor used with hand tools. The most common types of power tools use electric motors.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="heading">
    <h2 class="m-5">Electrical section</h2>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body mx-auto stretched-link" id="3dprint"><img class="ml-4"
            src="../../assets/Images/soldering.png" alt="Couldn't load">
          <p></p>
          <h4>Soldering Station</h4>
        </div>
        <div class="card-footer">Soldering is one of the most ...</div>
        <div class="overlay">
          <div class="expanded">

            <img src="../../assets/Images/soldering.png" alt="Couldn't load">
            <p></p>
            <h2>Soldering Station</h2>
            <br>
            <div>
              <h4>Soldering is one of the most fundamental skills needed to dabble in the world of electronics. The two
                go together like peas and carrots.</h4>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body mx-auto stretched-link"><img class="ml-4" src="../../assets/Images/waves.png"
            alt="Couldn't load">
          <p></p>
          <h4>DSO & AFG</h4>
        </div>
        <div class="card-footer pb-3">The main purpose of an oscilloscope ...</div>
        <div class="overlay">
          <div class="expanded">
            <img src="../../assets/Images/waves.png" alt="Couldn't load">
            <p></p>
            <h2>DSO, Power Sources & AFG</h2>
            <br>
            <div>
              <h4>The main purpose of an oscilloscope is to graph an electrical signal as it varies over time. Most
                scopes produce a two-dimensional graph with time on the x-axis and voltage on the y-axis.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body mx-auto stretched-link"><img class="ml-4" src="../../assets/Images/chip.png"
            alt="Couldn't load">
          <p></p>
          <h4>Electronics</h4>
        </div>
        <div class="card-footer">Tinkerers' lab has lots of cool electronic..</div>
        <div class="overlay">
          <div class="expanded">
            <img src="../../assets/Images/chip.png" alt="Couldn't load">
            <p></p>
            <h2>Electronics</h2>
            <br>
            <div>
              <h4>Tinkerers' lab has lots of cool electronic stuff like sensors, arduino boards, Raspbery pi, etc.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- carousel projects start -->

<div class="display-2 m-5 pt-5 heading" style="color: #24bdc9;">Projects</div>
<h2 class="heading m-5">Our Projects</h2>

<div class="container mb-5 pb-5">

  <div id="myCarousel" class="carousel slide">
    <div class="row">
      <div class="col-2">
        <a class="carousel-control-prev">
          <i class="fas fa-chevron-left" style="color: grey;"></i>
        </a></div>
      <div class="col-8">


        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="card">
              <div class="card-header">
                <h3>ITSP</h3>
              </div>
              <div class="card-body">
                <p></p>
                <h4>OPTIKA</h4>
              </div>
              <div class="card-footer">The project Optika makes surrounding of a visually impaired person more friendly
                by installing a lot of very helpful features on a raspberry pi.</div>

            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <div class="card-header">
                <h3>ITSP</h3>
              </div>
              <div class="card-body">
                <p></p>
                <h4>EMO TV</h4>
              </div>
              <div class="card-footer">As the name suggests, EmoTv is capable of interacting with a person and determine
                his current mood. </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card">
              <div class="card-header">
                <h3>Technovation</h3>
              </div>
              <div class="card-body">
                <p></p>
                <h4>CNC tube processing machine</h4>
              </div>
              <div class="card-footer">A machine for steel structure fabrication industry, to perform multiple machining
                operations like cutting, notching, holes and slotting at a time. </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card">
              <div class="card-header">
                <h3>ITSP</h3>
              </div>
              <div class="card-body">
                <p></p>
                <h4>H.A.N.C.O</h4>
              </div>
              <div class="card-footer">H.A.N.C.O. is an IoT device developed with a vision to become a dedicated
                personal AI assistant. </div>
            </div>
          </div>
        </div>
        <br>
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li class="item1 active"></li>
          <li class="item2"></li>
          <li class="item3"></li>
          <li class="item4"></li>
        </ul>
      </div>
      <!-- Left and right controls -->
      <div class="col-2">
        <a class="carousel-control-next">
          <i class="fas fa-chevron-right" style="color: grey;"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- carousel projects end -->


<p></p>

<!-- some fun facts start -->
<div class="jumbotron jumbotron-fluid" id="funFacts">

  <h1 class="display-2" style="text-align:center;color: #24bdc9;">Some Fun Facts</h1>
  <div class="row p-5 m-5"></div>
  <div class="container">
    <div class="row" id="counter">
      <div class="col-md-1 col-3"></div>
      <div class="col-md-10 col-6">
        <div class="row">
          <div class="col-md-3">
            <h3 class="counter-value" data-count="1500">0</h3>
            <p>sq. ft. of space</p>
          </div>

          <div class="col-md-3">
            <h3 class="counter-value" data-count="100">0</h3>
            <p>Projects Made every year</p>
          </div>
          <div class="col-md-3">
            <h3 class="counter-value" data-count="50000">0</h3>
            <p>man-hours of work done</p>
          </div>
          <div class="col-md-3">
            <h3 class="counter-value" data-count="1000">0</h3>
            <p>Students work in this Lab yearly</p>
          </div>
        </div>
      </div>
      <div class="col-md-1 col-3"></div>
    </div>
  </div>
</div>
<!-- some fun facts end -->
